.navbar {
    display: flex;
    position: fixed;
    z-index: 1;
  
  }
  
  .navbar__logo {
    display: flex; 
    width: 86%;
    
  }
  
  @media (min-width: 992px) {
    .navbar {
      padding: 0 3%;
      margin-top: 1%;
    }
  }
  