
.cadastro__botao {
    font-size: 3rem;
    background: transparent;
    border: none;
    z-index: 3;
}

.quemSomos__botao {
    font-size: 3rem;
    background: transparent;
    border: none;
    z-index: 3;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {


}

@media only screen and (min-width: 600px) and (max-width: 765px) {

}

@media only screen and (min-width: 992px) and (max-width:2000px) {
      .responsivo{
          display: none;
      }
   }
   
