.menu_quemSomos {
  background-color: rgba(5, 5, 5, 0.04);

}

.menu_quemSomos h1{
  padding: 5rem 1rem 0;
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
  
}

.quem-somos__texto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:-6%;
  padding: 6rem 1rem 0;
  padding-left: 12%;
  padding-right: 12%;
}

.quem-somos__texto p{

  width:100%;
  height:400px;
  border:1px solid rgb(158, 153, 153); 
  border-radius:10px;
  padding: 10px;
  text-align:justify;
  font-size:1.3rem;
}
  
.Quem-Somos__botao {
  position: absolute;
  filter: opacity(50%);
  color: rgb(5, 5, 5);
  font-size: 3rem;
  background: transparent;
  border: none;
  top:38%;
  cursor: pointer;
}

.Quem-Somos__botao p {
  position: absolute;
  font-size:0.8rem;
  left:18%;
  top:50%;
  font-weight:bold;
}
 
.frontSide {
  border: 1px solid rgb(158, 153, 153);
  width:300px;
  height: 420px;
  border-radius:10px;  
}

.backSide {
  border: 1px solid rgb(158, 153, 153);
  border-radius:10px;
  width:300px;
  height: 420px;
  background-color: rgba(5, 5, 5, 0.04);
}

.textoFrontSide{
  position: absolute;
  margin-top:50%;
  font-size:27px;
  font-weight: bold;
  text-align:center;
  margin-right:25px;
}

.textoBackSide{
  position: absolute;
  margin-left:-13px;
  margin-top:10%;
  font-size:25px;
  text-align:center;
  
}

@media only screen and (min-width:400px) and (max-width: 765px) {

  .quem-somos__texto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:0;
    margin-top:30px;
  }
  .Quem-Somos__botao{
    display:none;
  }
  .menu_quemSomos h1{
    margin-top:0px;
  }
  .imagem{
    display:none;
  }
  .frontSide{
    display: flex;
    width:250px;
    height: 400px;
  }
  .backSide{
    display: flex;
    width:250px;
    height: 400px;
  }
  .textoBackSide{
    position: absolute;
    font-size:22px;
    text-align:center;
  }
  .textoFrontSide{
    font-size: 23px;
    position: absolute;
    margin-top:60%;
    margin-left:-10px;
    font-weight: bold;
    text-align:center;
  }
  .footer{
    display: none;
  }
  
}

@media only screen and (min-width:768px) and (max-width: 991px) {

  .quem-somos__texto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:0;
    margin-top:30px;
  }
  .Quem-Somos__botao{
    display:none;
  }
  .menu_quemSomos h1{
    margin-top:0px;
  }
  .imagem{
    display:none;
  }
  .frontSide{
    display: flex;
    width:300px;
    height: 400px;
  }
  .backSide{
    display: flex;
    width:300px;
    height: 400px;
  }
  .textoBackSide{
    position: absolute;
    font-size:22px;
    text-align:center;
  }
  .textoFrontSide{
    font-size:28px;
    position: absolute;
    margin-top:50%;
    margin-left:-10px;
    font-weight: bold;
    text-align:center;
  }
  .footer{
    display: none;
  }

}


@media only screen and (min-width: 992px) and (max-width:1200px) {
  .quem-somos__texto{
   
    flex-direction: row;
    justify-content: space-around;
    padding:0;
    margin-top:30px;
  }
  .Quem-Somos__botao{
    display:none;
  }
  .menu_quemSomos h1{
    margin-top:0px;
  }
  .imagem{
    display:none;
  }
  .frontSide{
    display: flex;
    width:360px;
    height: 400px;
  }
  .backSide{
    display: flex;
    width:360px;
    height: 400px;
  }
  .textoBackSide{
    position: absolute;
    font-size:24px;
    text-align:left;
    margin-right:25px;
    margin-top:10px;
  }
  .textoFrontSide{
    font-size:29px;
    position: absolute;
    margin-top:42%;
    margin-left:-10px;
    font-weight: bold;
    text-align:center;
  }
  .Quem-Somos__botao {
    position: absolute;
    filter: opacity(50%);
    color: rgb(27, 24, 24);
    font-size: 3rem;
    background: transparent;
    border: none;
    top:30%;
    margin-left:11%;
    cursor: pointer;
  }
  
  .Quem-Somos__botao p {
    position: absolute;
    font-size:0.8rem;
    left:18%;
    top:50%;
    font-weight:bold;
  }


}
