.cadastro {
    padding: 0.5rem 1rem 0;
  }

  .cadastro p {
    margin-top:0.2rem;
  }
  
  @media (min-width: 768px) {
    .cadastro {
        padding: 1.5rem 10% 0;
    }
  }
  
  @media (min-width: 992px) {
    .cadastro {
        padding:6rem 15% 0;
    }
  }
  
  