/* .contribuir {
    min-height: calc(100vh - 60px);
    padding: 1.5rem 1rem 0;
    
  }
  .contribuir h2 {
    text-align: center;
    margin-top:90px;

}
  @media (min-width: 992px) {
    .contribuir {
      padding: 1.5rem 10% 0;
    }
  } */