.contato {
    position: relative;
    padding: 4.5rem 2rem 0;
    padding-left: 12%;
    padding-right: 12%;
  }

.contato__titulo {
    text-align:center;  
}

.mensagem {
  width: 100%;
  margin-bottom:1%;
}
.contatos__botao {
    position: absolute;
    filter: opacity(50%);
    color: black;
    font-size: 3rem;
    background: transparent;
    border: none;
    top:38%;
    cursor: pointer;
} 

.contatos__botao p {
  position: absolute;
  font-size:0.8rem;
  left:20%;
  top:50%;
  font-weight:bold;
} 



@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contato {
    display:block;
  }
  .contatos__botao{
    display:none;
  }

}

@media only screen and (min-width: 600px) and (max-width: 765px) {

  .contato {
    display:block;
  }
  .contatos__botao{
    display:none;
  }

}

@media only screen and (min-width: 992px) and (max-width:2000px) {
  
}
   