body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;	
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
body{
  overflow:visible;
 	
}
}

@media only screen and (min-width: 600px) and (max-width: 765px) {
  body{
    overflow:visible;
   
  }

}

@media only screen and (min-width: 992px) and (max-width:2000px) {
 
}
   



